.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 19%;
}

.room-value {
    height: 34px;
    width: 260px;
    border: solid 2px grey;
    border-radius: 8px;
    color: black;
    font-size: 15px;
}